$primary: #533483;
$seconday: #E94560;

.App {
  height: 100vh;
  .h-100-vh{
    height: 100vh;
  }
  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
    
  .header{
    background: $seconday;
    color: white;
    height: 40px;
  }
.login-wrapper{
  background-color: #EFEFEF;
  .card{
    width: 300px;
  }
}
  .content {
    height: calc(100% - 40px);

    .sidebar {
      width: 200px;
      background: rgba(black, .1);

      li {
          a{
            padding: 5px 10px;
            display: block;
            cursor: pointer;
            text-transform: capitalize;
            border-bottom: 1px solid #CCC;
            &:hover{
              background: rgba(black, .1);
            }
          }

        &:first-child a{
          border-top:1px solid #CCC;
        }
      }
    }

    .tasks-content {
      padding: 20px;
      width: calc(100% - 200px);
    }
  }
}